#archnavbar { height: 40px !important; padding: 10px 15px !important; background: #333 !important; border-bottom: 5px #08c solid !important; }
#archnavbarlogo { float: left !important; margin: 0 !important; padding: 0 !important; height: 40px !important; width: 315px !important; }
#archnavbarlogo { background: url('../img/logo.png') no-repeat !important; }
#archnavbarlogo p { margin: 0 !important; padding: 0 !important; text-indent: -9999px !important; }
#archnavbarlogo h1 { margin: 0 !important; padding: 0 !important; text-indent: -9999px !important; }
#archnavbarlogo a { display: block !important; height: 40px !important; width: 315px !important; }
#archnavbar ul { display: inline !important; float: right !important; list-style: none !important; margin: 0 !important; padding: 0 !important; }
#archnavbar ul li { float: left !important; font-size: 14px !important; font-family: sans-serif !important; line-height: 45px !important; padding-right: 15px !important; padding-left: 15px !important; }
#archnavbar ul#archnavbarlist li a { color: #999; font-weight: bold !important; text-decoration: none !important; }
#archnavbar ul li a:hover { color: white !important; text-decoration: underline !important; }
#archnavbar #anb-pacnet a { color: #FFF !important; }

#submenu { height: 31px; background-color: #08c; line-height: 27px; }
#submenu ul { height: 31px; margin: 0 0 0 20px; padding: 0; float: left; }
#submenu ul li { height: 31px; margin: 0 20px 0 0; padding: 0; list-style: none; float: left; }
#submenu ul li a { float; left; color: #FFF; text-decoration: none; font-weight: bold; line-height: 27px; }
#submenu ul li a:hover { border-bottom: 1px solid #FFF; }
#submenu #search { float: right; margin-right: 20px; }
#submenu #search input { margin: -2px 0 0 0; }

body {	font-size: 12px; margin: 0; background: #FFF url(../img/logo.png) 30px 5px no-repeat; color: #444; line-height: 22px; font-family: Verdana,sans-serif; }
a {	text-decoration: none; color: #1793D1; }
h1 { font-size: 26px; line-height: 30px; }
h2 { margin-top: 30px; }
h2.search { padding-left: 10px; border-bottom: 1px solid #CCC; color: #F5BB04;}

.hide { display: none; }
.selected td, .highlight { background: #FFFF6D !important; }
#change_category { position: relative; top: -20px; }
	
.container { margin-top: 20px; }
#footer a:hover { color: #CC0000; text-decoration: underline; }
#footer { margin-top: 100px; text-align: center; line-height: 15px;}
pre { background-color: #F9F9F9; border: 1px dashed #8FAECD; padding: 10px 15px; font-family: sans-serif;	letter-spacing: 1px; overflow: auto;}

#category_list { list-style: none; margin: 0 auto; -moz-column-count: 4; -moz-column-gap: 2em; -moz-column-rule: 1px solid #CCC; -webkit-column-count: 4; -webkit-column-gap: 2em; -webkit-column-rule: 1px solid #CCC; }
#category_list h3 { width: 150px; background-color: #333; color: #FFF; margin: 5px 0; padding: 3px 3px 3px 10px; text-transform:capitalize; }
#category_list .main_category {margin: 5px 0 15px 0;padding: 0 0 0 10px;list-style: none;}
#category_list li.cat {margin: 0 0 0 10px;padding: 0 0 0 20px;background: url(../img/icons.png) 0 -528px no-repeat;line-height: 30px;}

.package_list dt,p.package_list {background: url(../img/icons.png) 0 -950px no-repeat;padding: 0 0 0 25px;font-weight: bold;}
.package_list dd {margin-bottom: 10px;}
.package_list small,.package_list small a {font-size: 10px;color: #CCC;}

#change_category {float: right;}

a.category {color: #CF8C27 !important;}
highlight { background-color: yellow }


/* ################# Icons ################# */

.sprite-add { background: url(../img/icons.png)  0 -30px no-repeat;padding-left:20px}
.sprite-back { background: url(../img/icons.png)  0 -76px no-repeat;padding-left:20px}
.sprite-config { background: url(../img/icons.png)  0 -122px no-repeat;padding-left:20px}
.sprite-delete { background: url(../img/icons.png)  0 -168px no-repeat;padding-left:20px}
.sprite-done { background: url(../img/icons.png)  0 -214px no-repeat;padding-left:20px}
.sprite-down { background: url(../img/icons.png)  0 -260px no-repeat;padding-left:20px}
.sprite-edit { background: url(../img/icons.png)  0 -306px no-repeat;padding-left:20px}
.sprite-error { background: url(../img/icons.png)  0 -352px no-repeat;padding-left:20px}
.sprite-faq { background: url(../img/icons.png)  0 -398px no-repeat;padding-left:20px}
.sprite-favorite { background: url(../img/icons.png)  0 -444px no-repeat;padding-left:20px}
.sprite-file { background: url(../img/icons.png)  0 -490px no-repeat;padding-left:20px}
.sprite-folder { background: url(../img/icons.png)  0 -536px no-repeat;padding-left:20px}
.sprite-home { background: url(../img/icons.png)  0 -582px no-repeat;padding-left:20px}
.sprite-image { background: url(../img/icons.png)  0 -628px no-repeat;padding-left:20px}
.sprite-important { background: url(../img/icons.png)  0 -674px no-repeat;padding-left:20px}
.sprite-information { background: url(../img/icons.png)  0 -720px no-repeat;padding-left:20px}
.sprite-lock { background: url(../img/icons.png)  0 -766px no-repeat;padding-left:20px}
.sprite-mail { background: url(../img/icons.png)  0 -812px no-repeat;padding-left:20px}
.sprite-new { background: url(../img/icons.png)  0 -858px no-repeat;padding-left:20px}
.sprite-next { background: url(../img/icons.png)  0 -904px no-repeat;padding-left:20px}
.sprite-package { background: url(../img/icons.png)  0 -950px no-repeat;padding-left:20px}
.sprite-play { background: url(../img/icons.png)  0 -996px no-repeat;padding-left:20px}
.sprite-previous { background: url(../img/icons.png)  0 -1042px no-repeat;padding-left:20px}
.sprite-record { background: url(../img/icons.png)  0 -1088px no-repeat;padding-left:20px}
.sprite-refresh { background: url(../img/icons.png)  0 -1134px no-repeat;padding-left:20px}
.sprite-remove { background: url(../img/icons.png)  0 -1180px no-repeat;padding-left:20px}
.sprite-save { background: url(../img/icons.png)  0 -1226px no-repeat;padding-left:20px}
.sprite-stop { background: url(../img/icons.png)  0 -1272px no-repeat;padding-left:20px}
.sprite-up { background: url(../img/icons.png)  0 -1318px no-repeat;padding-left:20px}
.sprite-warning { background: url(../img/icons.png)  0 -1364px no-repeat;padding-left:20px}
.sprite-web { background: url(../img/icons.png)  0 -1410px no-repeat;padding-left:20px}
