{% load i18n %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="google-site-verification" content="7PAvVj-MSQfG1mLhM7i8YF_cP1a9GOHX70L7xanPuZ0" />
		
		<title>
			{% if package.name %}{{ package.name }} &laquo; {{ package.category }} | {% endif %}
			{% if category.name %}{{ category.name }} | {% endif %}
			Pacnet &raquo; ArchLinux
		</title>
		
		<meta name="ROBOTS" content="ALL" />
		<meta name="keywords" content="Arch, Linux, Archlinux, Gentoo, Packate, Pacnet, Pacman, Category" />
		<meta name="description" content="Archlinux package categorization project." />
		
		<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		{% block css %}{% endblock %}
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-318838-14']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	
<body>
	
	<div id="archnavbar" class="anb-start">
		{% if LANGUAGE_CODE == 'pl' %}
			<div id="archnavbarlogo"><h1><a href="/">Pacnet</a></h1></div>
			<div id="archnavbarmenu">
				<ul id="archnavbarlist">
					<li id="anb-start"><a href="http://archlinux.pl/">Start</a></li>
					<li id="anb-packages"><a href="http://www.archlinux.org/packages/">Pakiety</a></li>
					<li id="anb-forum"><a href="https://bbs.archlinux.org/">Forum</a></li>
					<li id="anb-wiki"><a href="http://wiki.archlinux.pl/">Wiki</a></li>
					<li id="anb-bugs"><a href="https://bugs.archlinux.org/">Bugs</a></li>
					<li id="anb-aur"><a href="https://aur.archlinux.org/index.php?setlang=pl">AUR</a></li>
					<li id="anb-pacnet"><a href="/">Pacnet</a></li>
					<li id="anb-download"><a href="http://www.archlinux.org/download/">Pobierz</a></li>
				</ul>
			</div>
		{% else %}
			<div id="archnavbarlogo"><h1><a href="/" title="Return to the main page">Arch Linux</a></h1></div>
			<div id="archnavbarmenu">
				<ul id="archnavbarlist">
					<li id="anb-home"><a href="http://archlinux.org/" title="Arch news, packages, projects and more">Home</a></li>
					<li id="anb-packages"><a href="http://archlinux.org/packages/" title="Arch Package Database">Packages</a></li>
					<li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">Forums</a></li>
					<li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">Wiki</a></li>
					<li id="anb-bugs"><a href="https://bugs.archlinux.org/" title="Report and track bugs">Bugs</a></li>
					<li id="anb-aur"><a href="https://aur.archlinux.org/" title="Arch Linux User Repository">AUR</a></li>
					<li id="anb-pacnet"><a href="/">Pacnet</a></li>
					<li id="anb-download"><a href="http://archlinux.org/download/" title="Get Arch Linux">Download</a></li>
				</ul>
			</div>
		{% endif %}
		
    </div>
    
	<div id="submenu">
		<ul>
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/category/">{% trans "Categories" %}</a></li>
			<li><a href="/new-packages/">{% trans "New packages" %}</a></li>
			<li><a href="/history/">{% trans "History" %}</a></li>
			<li><a href="/api/">API</a></li>
			<li><a href="https://bbs.archlinux.org/viewtopic.php?id=44933">{% trans "Discussion" %}</a></li>
			<li><a href="https://github.com/trojkat/gpacnet">gPacnet</a></li>
		</ul>
		
		<form action="/search/" method="post" id="search">
			{% csrf_token %}
			<input type="text" name="search" value="{{ search }}" id="search_field" />
			<input type="submit" value="{% trans "Search" %}" class="btn" />
		</form>
		
	</div>
	
	<div class="container">

	{% block content %}{% endblock %}
	
	</div>
	
	<div id="footer">
		<p>{% trans "Last update" %}: {% include "last-update.txt" %}</p>
		<p>Copyleft 2008-{% now "Y" %}. Coded by <a href="http://karbownicki.com">Tomasz Karbownicki</a>. Hosted for free thanks to <a href="http://megiteam.pl">MegiTeam.pl</a>. Source code available on <a href="https://github.com/trojkat/pacnet">Github</a>. Enjoy!</p>
		<p><a href="http://megiteam.pl/"><img src="http://farm3.static.flickr.com/2528/5765660639_1a4a25a240_t.jpg" alt="MegiTeam" title="MegiTeam" style="border:0" /></a></p>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	{% block js %}{% endblock %}

</body>

</html>
